{% extends 'generator/layout.html' %}

{% block content %}
<head>
    <title>ABOUT ME</title>
</head>
    <h1>About Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quia nemo, possimus voluptates eum tempora. Tenetur vitae, nemo earum aperiam ad error cum nesciunt? Expedita fugit architecto magnam quis pariatur.
    Amet enim repudiandae dolor tempore quae. Voluptates veritatis, ipsum eius sint necessitatibus nisi. Rerum autem totam voluptas! Error consequatur ducimus non quo itaque dolores sapiente assumenda? Id quos magni vel?
    Explicabo dignissimos repellat sed totam at reiciendis, consequuntur cum vitae quia in perferendis libero incidunt, iusto porro saepe! Cumque, debitis architecto saepe provident nisi vel et doloribus dignissimos nesciunt! Ratione?</p>

{% endblock %}